#user-profile-container {
  border: 1px solid #ddd;
  width: 300px;
  height: 270px;
  padding: 24px;
  word-break: break-all;
  position: sticky;
  top: 5px;
  /* Based on Qiita's grid css */
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  max-height: 100vh;
  /* 12147483646 is the z-index of the add*/
  z-index: 12147483646;
  background-color: #fff;
}

#user-profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#user-img {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  margin-bottom: 16px;
}

#user-name {
  font-weight: bold;
  font-size: 2rem;
}

#user-id {
  color: #8a8b8b;
}
